*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial , sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border-bottom: 1px solid #ddd;
    background: #fff;

}

.logo{
    font-size: 22px;
    font-weight: bold;
}

.nav-links a{
    text-decoration: none;
    margin: 15px;
    color: black;
    font-size: 16px;
}

.nav-links a:hover{
        color:#888;
}

.icons span{
    margin-left: 15px;
    cursor: pointer;
}

.menuicon{
    display: none;
}
footer{
    background-color: #ddd;
}

/* about luxe */

.about-section{
    width: 100%;
background-image: url(Section.png);
height: 400px;
background-size: cover;
background-repeat: no-repeat;

}
.about-luxe{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #fff;
    
}

.about-luxe h2{
    font-size:50px;
}

/* story */

.story{
    padding: 30px 40px;
    text-align: center;
}

.story h2{
    margin: 20px;
    font-size: 35px;
    font-weight: 700;
}
.story .one{
  margin-bottom: 10px ;
}
/* why we stand */

.stand-content{
    text-align: center;
    margin: 50px 30px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    gap: 20px;
    
}
.stand-content h2{
     font-size: 35px;
    font-weight: 700;
}

.cart{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.cart-icon {
    width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    text-align: center;

}
.cart-icon i{
    font-size: 40px;
   color:#B69375;
}


/* review and rating */

.review{
    padding: 50px 40px;
    margin-top: 30px;
    /* margin-bottom: 150px; */
}
.rating{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.rating-cart h2{
    font-size: 50px;
    text-align: center;
}
.rating-cart p{
    color: #888;
    text-align: center;
    font-size: 15px;
}

/* team */
.team{
    margin: 80px 70px;
}
.our-team h2{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding: 20px;
}

.team-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    
}
.team-member{
    text-align: center;
}

.team-member img{
    width: 300px;
}
.team-member h5{
    font-size: 20px;
    margin-top: 10px;
}
.team-member p{
    color: #888;
    font-size: small;
}

/* footer */
.footer{
    background-color: #101828;
    padding : 80px;
    border : none;
   
}
.footer-container-boxes{
    display: flex;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
    gap: 15px;
    
}

.footer-part h2{
   
margin-bottom: 10px;

}
.footer-bot{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
  font-size:10px
}

.footer-part a{
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgba(157, 137, 76, 0.653);
    border-radius: 10px;
    /* display: flex;
    justify-content: end; */
    margin-left: 180px;
    color: white;
    display: inline-block;
    margin-top: 10px;

}


/* media query for tablet */
@media (max-width:900px) {
    .nav-links{
        display: none;
    }
    .navbar{
        padding: 15px 20px;
    }
    .about-section{
        height: 300px;
    }
    .about-luxe h2{
        font-size: 40px;
    }
    .story{
        padding: 25px;
        }
    .story h2{
        font-size: 30px;

    }
     .cart{
        justify-content:center;
    }

    .cart-icon{
        width:45%;
    }
     .rating{
        gap:30px;
    }

    .rating-cart{
        width:40%;
    }
      .team{
        margin:50px 30px;
    }

    .team-cart{
        flex-wrap:wrap;
    }

    .team-member img{
        width:250px;
    }

    .footer{
        padding:50px 30px;
    }

    .footer-container-boxes{
        justify-content:space-between;
    }

    .footer-part{
        width:45%;
    }
}

/* media query for mobile  */

@media(max-width:700px){
    .icons{
        display: none;
    }
    .menuicon{
        display: block;
        font-size: 22px;
    }
    .navbar{
        width: 100%;
    }
    .logo{
        font-size: 20px;
    }

    .about-section{
        height: 250px;

    }
    .about-luxe h2{
        font-size: 30px;
    }
    .about-luxe p{
        font-size: 14px;
        text-align: center;
    }  .story{
        padding: 20px;
        }
    .story h2{
        font-size: 25px;

    }
    .story p{
        font-size: 14px;
    }
    

    .cart{
        flex-direction:column;
        align-items:center;
    }

    .cart-icon{
        width:90%;
    }

       .rating{
        flex-direction:column;
        align-items:center;
        gap:20px;
    }

     .team-cart{
        flex-direction:column;
    }

    .team-member img{
        width:90%;
    }
    .footer-container-boxes{ 
        flex-direction:column;
        gap:30px;
    }

    .footer-part{
        width:100%;
    }

    .footer-part a{
        margin-left:0;
    }

    
}
