*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial , sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border-bottom: 1px solid #ddd;
    background: #fff;

}

.logo{
    font-size: 22px;
    font-weight: bold;
}

.nav-links a{
    text-decoration: none;
    margin: 15px;
    color: black;
    font-size: 16px;
}

.nav-links a:hover{
        color:#888;
}

.icons span{
    margin-left: 15px;
    cursor: pointer;
}

.menuicon{
    display: none;
}
footer{
    background-color: #ddd;
}


/* get in touch */

.touch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
    border-bottom: 1px solid rgb(201, 201, 210);
    /* background-color: #fcf7f7; */
}
.touch h2{
    font-size: 40px;
}
.touch p{
    color: #706e6e;
}