*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial , sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border-bottom: 1px solid #ddd;
    background: #fff;

}

.logo{
    font-size: 22px;
    font-weight: bold;
}

.nav-links a{
    text-decoration: none;
    margin: 15px;
    color: black;
    font-size: 16px;
}

.nav-links a:hover{
        color:#888;
}

.icons span{
    margin-left: 15px;
    cursor: pointer;
}

.menuicon{
    display: none;
}
footer{
    background-color: #ddd;
}


/* get in touch */

.touch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    padding: 40px;
    border-bottom: 1px solid rgb(201, 201, 210);
    /* background-color: #fcf7f7; */
}
.touch h2{
    font-size: 50px;
}
.touch p{
    color: #706e6e;
}

/* contact part */
.contact{
    display: flex;
    padding: 50px;
    gap: 30px;

}
.contact-info{
    display: flex;
    
    flex-direction: column;
    gap: 20px;
    width: 40%;
}
.contact-info h2{
    font-size: 30px;
}

.record{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact .record-info{
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

.icon{
   
    font-size: 18px;
    color: white;
    background: burlywood;
    width: 40px;
    height: 40px;
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-info{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.icon-info h6{
    font-size: 15px;
}
.icon-info p{
    
    font-size: 12px;
    color: #888;
}

.map{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    height: 180px;
    width: 100%;
    border-radius: 10px;
    color: #333333;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* form wala part */
.msg{
    flex: 1;
}

.msg h2{
    font-size: 30px;
    margin-bottom: 20px;
}
.msg label {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: 14px;
    font-weight: 100px;
}

.msg input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 100%;
}
.coloumn{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#textarea{
    height: 150px;
    border-radius: 10px;
}

button{
    padding: 20px;
    background: black;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

/* question */
.fr-qus{
    padding: 50px 30px;

}
.question{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.qus-heading{
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

.qus-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    width: 700px;
    /* width: 700px; */
    margin: auto;
}

.qus-item{
    padding: 10px;
    border: 1px solid rgb(214, 211, 211);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(150, 144, 144);
    /* background-color: aqua; */
    /* width: 400px; */
    text-align: start;
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.qus-item h6{
    font-size: 13px;
}
.qus-item p{
    color: #706e6e;
    font-size: 10px;
}
/* footer */
.footer{
    background-color: #101828;
    padding : 80px;
    border : none;
   
}
.footer-container-boxes{
    display: flex;
    justify-content: space-between;
    color: white;
    flex-wrap: wrap;
    gap: 15px;
    
}

.footer-part h2{
   
margin-bottom: 10px;

}
.footer-bot{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  text-align: center;
  font-size:10px
}

.footer-part a{
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgba(157, 137, 76, 0.653);
    border-radius: 10px;
    /* display: flex;
    justify-content: end; */
    margin-left: 180px;
    color: white;
    display: inline-block;
    margin-top: 10px;

}


/* media query for tablet view */
@media (max-width:900px) {
    .nav-links{
        display: none;
    }
    .qus-heading{
        font-size: 24px;
    }
}


/* media query for mobile view */
@media (max-width:700px){
    .icons{
        display: none;

    }

    .menuicon{
        display: block;
    }
    .touch h2{
    font-size: 30px;
}
.touch p{
    font-size: 14px;
}
    .contact{
        flex-direction: column;
    }

    .contact-info{
        justify-content: center;
        width: 100%;
    }
    .contact-info h2{
        font-size: 25px;
    }

    .msg h2{
        font-size: 20px;
    }

    .button{
        padding: 10px;
        font-size: 20px;
    }
    .qus-heading{
        font-size: 20px;
    }
    .qus-card{
        flex-wrap: wrap;
        width: 100%;
    }

      .footer{
        padding: 40px 20px;
    }
    .footer-container-boxes{
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
    .footer-part a{
        margin-left:0px ;
    }
 }
